.filterItemWrapper {
  display: flex;
  width: 100%;
  /* height: 100%; */
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  padding-bottom: 50px;
  /* background-color: beige;*/
}

.filterItemRow {
  display: flex;
  width: 100%;
  height: 30%;
  background-color: bisque;
  justify-content: center;
}

.titleItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  background-color: rgb(252 255 254 / 60%);
  border: 1px solid #87776e;
  margin: 10px;
  cursor: pointer;
  color: #53502e;
  border-radius: 5px;
}

.titleItem:hover {
  /* background-color: rgb(241, 202, 149); */
  background-color: rgb(251 255 255);
}