
.filterItemWrapper {
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  background-color: beige;
  padding: 20px;
}

.filterItemRow {
  display: flex;
  width: 100%;
  height: 30%;
  background-color: bisque;
  justify-content: center;
}

.titleItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  background-color: burlywood;
  border: 1px solid black;
  margin:10px;
  cursor: pointer;
}

.titleItem:hover {
  background-color: rgb(241, 202, 149);
}