
.ForgotWindowWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 35%;
  height: 40%;
  border-radius: 15px;
  background-color: #f2f7f7
}

.ForgotImageContainer {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 4%;
  padding-top: 3%;
}

.ForgotTextContainer {
  color: #ffffff;
  font-size: 30px;
  font-weight: 200;
}

.ForgotInfoContainer {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ForgotLoginContainer {
  display: flex;
  width: 70%;
  height: 15%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: #898683;
}

.ForgotLogin {
  width: 60%;
  height: 70%;
  padding-left: 5px;
  border-bottom:1px solid gray;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline:none;border-left: none;border-right: none;border-top: none;
}

.ForgotBtnContainer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ForgotBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #21ae8f;
  width: 200px;
  border-radius: 5px;
  height: 40%;
  cursor: pointer;
}

.ForgotBtn:hover {
  background-color: #21c09e;
  color: #dad6d6;
}

.ForgotBtntext { 
  color: #fbf4f4;
}
