.cartBlockWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: white;
  flex-direction: column;
  box-sizing: border-box;
}

.productWrapper {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
}

.mobileProductWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 250px;
  width: 100%;
  height: auto;
  align-items: center;
}

.infoWrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.infoLeftWrapper {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0px 20px;
}

.infoRightWrapper {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0px 20px;
}

.btnWrapperCart {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 130px;
  justify-content: space-evenly;
  padding-top: 80px;
}

