
.plusItemWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  box-sizing: border-box;
}

.plusLeftBlock {
  display: flex;
  width: 40%;
  height: 100%;
  background-color: bisque;
  justify-content: center;
  padding: 30px 0px;
  box-sizing: border-box;
}


.plusRightBlock {
  display: flex;
  width: 60%;
  height: 100%;
  background-color: rgb(236, 226, 213);
  justify-content: space-evenly;
  padding: 30px 0px;
  box-sizing: border-box;
}

.titleItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  background-color: burlywood;
  border: 1px solid black;
  margin:10px;
  cursor: pointer;
}

.titleItem:hover {
  background-color: rgb(241, 202, 149);
}