.itemWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 770px;
  margin-top: 100px;
  background-image: url('../../assets/images/angel1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rowItemRig {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 33%;
  height: 100%;
}

.wrapperVersion {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin: 10px 0px;
}

.colInfoBlock {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: flex-start;
  box-sizing: border-box;
  padding-left: 30px;
  padding-top: 30px;
}

.txt_maintxt {
  height: auto;
  font-size: 55px;
  font-weight: 600;
  font-family: system-ui;
  color: #DAE5E9;
  padding: 0px 40px 40px 40px;
}

.txt_main_subtxt {
  width: 80%;
  font-size: 22px;
  color: #d6d3d4;
}

.wrapper_maintxt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: 350px;
  background-color: rgba(0,0,0,0.5);
}

.wrapper_img_mainlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}

.img_mainlogo {
  width: 120%;
  height: 120%;
  padding-top: 200px;
}

.colTimerBlock {
  display: flex;
  width: 40%;
  height: 30%;
  justify-content: center;
  align-items: center;
 flex-direction: column;
}

.wrapperTimer {
  display: flex;
  width: 50%;
  height: 60px;
  justify-content: center;
  align-items: flex-end;
  /* background-color: rgb(145, 145, 173); */
}

.timerTxt {
  color: #f2fcfe;
  font-size: 23px;
  background-color: #304e3099;
  padding: 8px;
}

.colButtonBlock {
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 170px;
}

.wrapperButton {
  display: flex;
  width: 150px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: rgb(100, 100, 212);
  cursor: pointer;
}

.wrapperButton:hover {
  background-color: rgb(72, 72, 240);
}

.txtButton {
  font-size: 15px;
  font-weight: 600;
  font-family: system-ui;
  color: white;
}

.txtTimer {
  font-size: 25px;
  font-weight: 800;
  font-family: monospace;
  color: #fffff2;
}