.itemWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 770px;
  margin-top: 100px;
  background-color: #444;
  background-image: url('../../assets/images/a1.jpg');
  background-position: 0px 90px;
  background-repeat: no-repeat;
  background-size: cover;
}

.rowItemRig {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 33%;
  height: 100%;
}

.wrapperVersion {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin: 10px 0px;
}

.colInfoBlock {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: flex-start;
  box-sizing: border-box;
  padding-left: 30px;
  padding-top: 30px;
}

.txt_maintxt {
  height: auto;
  font-size: 33px;
  font-weight: 600;
  font-family: system-ui;
  color: #444;
  padding: 0px 0px 20px 22px;
  border-bottom: 2px solid #ea402f;
  font-family: 'Roboto', sans-serif;
}

.txt_main_subtxt {
  width: 80%;
  font-size: 14px;
  color: #222;
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  border-top: 2px solid #ea402f;
}

.wrapper_maintxt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 48%;
  padding: 0px 50px 50px 50px;
  width: 420px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  margin-top: 190px;
  margin-left: 100px;
  position: relative;
}

.wrapper_img_mainlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}

.img_mainlogo {
  width: 120%;
  height: 120%;
  padding-top: 200px;
}

.colTimerBlock {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 20px;
}

.wrapperTimer {
  display: flex;
  width: 50%;
  height: auto;
  justify-content: center;
  align-items: flex-end;
}

.timerTxt {
  color: #222;
  font-size: 23px;
  padding: 8px;
}

.colButtonBlock {
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 170px;
}

.wrapperButton {
  display: flex;
  width: 150px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #ea402f;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  padding: 0 22px;
  font-size: 14px;
  line-height: 40px;
  color: #FFF;
  font-weight: 700;
  border-radius: 3px;
  margin-top: 30px;
}

.wrapperButton:hover {
  background-color: rgb(72, 72, 240);
}

.txtButton {
  font-size: 15px;
  font-weight: 600;
  font-family: system-ui;
  color: white;
}

.txtTimer {
  font-size: 35px;
  font-weight: 800;
  font-family: monospace;
  color: #222;
}