.footer_container {
  display:flex;flex-direction:column;width:100%;background-color:#333;align-items:center;justify-content:center
}
.footer_up {
  display:flex;flex-direction:row;width:100%;background-color:#363636;align-items:flex-start;justify-content:space-evenly;padding-top:50px;z-index:1
}
  .footer_down {
    display:flex;flex-direction:column;width:100%;background-color:#363636;align-items:center;justify-content:center;z-index:1
  }
  .visa_container img{
    margin-left:20px
  }
  .coperait_txt{
    user-select:none;color:#999;padding:20px 0
  }
  .footer_txt{
    cursor:pointer;user-select:none;text-decoration: none;margin:0 36px 18px 0;font-family:'Montserrat-Bold';font-size:14px;font-weight:500;font-stretch:normal;font-style:normal;line-height:normal;letter-spacing:.79px;color:#9f9f9f;color:#999
  }
  .footer_txt:hover{
    color:#fff
  }
  .footer_down::before{
    content:"";display:block;width:80%;height:1px;background:#212729;margin:50px auto
  }
  .footer_desription_section_right{
    align-self:flex-start
  }
  .visa_container{
    margin-bottom:60px
  }
  .footer_social_section{
    margin-left:0px
  }
  .footer_logo_section{
    padding-right:0px
  }
  .qr{
    display:flex;justify-content:center;margin:10px
  }