.payFormWrapper {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  box-sizing: border-box;
  box-shadow: 1px 1px 12px rgb(0 0 0 / 30%);
}

.titlepayFormContainer {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: #dfdfdf;
}

.payFormContainer {
  display: flex;
  width: 100%;
  height: 250px;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  flex-direction: column;
  border-top: 1px solid #ea402f
}

.pay {
  display: flex;
  width: 277px;
  /* height: 20px; */
  align-items: center;
  resize: none;
  /* padding: 20px; */
  box-sizing: border-box;
}

.titlePay {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.textTitlepayForm {
  font-size: 15px;
  font-weight: 600;
  font-family: sans-serif;
}

