.locationFormWrapper {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  box-sizing: border-box;
  box-shadow: 1px 1px 12px rgb(0 0 0 / 30%);
}

.titleLocationContainer {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: #dfdfdf;
}

.payFormContainer {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  flex-direction: column;
  border-top: 1px solid #ea402f
}



.downloadInput {
  display: flex;
  width: 30%;
  height: 30px;
  margin-left: 10px;
}
input[type="button"] {
  appearance: auto;
  user-select: none;
  white-space: pre;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  box-sizing: border-box;
  padding: 1px 50px;
  cursor: pointer;
  border: none;
  background-color: #ea402f;
  color: #fff;

}
.locationContainer {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  resize: none;
  padding: 20px;
  box-sizing: border-box;
}

.locationForm {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  box-sizing: border-box;
}

.titlelocation {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.textTitleForm {
  font-size: 15px;
  font-weight: 600;
  font-family: sans-serif;
}

