.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* background-color: rgb(250, 250, 249); */
  background-color: rgb(255 255 255 / 70%);
  width: 100%;
  height: 80px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;

}
.catigories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width:100%;
  height: 40px;
}
.logo {
  color: rgb(158, 155, 152);
  font-size: 24px;
  font-weight: 300;
  margin-left: 30px;
}

.tab {
  display: flex;
  width: 110px;
  height: 28px;
  justify-content: center;
  align-items: center;
  color: dimgray;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
}

.tab:hover {
  color: rgb(70, 67, 67);
  border-bottom: 1px solid #c5c7da;
}